/* CSS Styles */

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 100%;
    font-family: verdana, helvetica, arial;
    background: rgba(200, 0, 0);
}
#wrapper{
    width: 940px;
    margin: 20px auto;
    background: #fff;
    padding-top: 10px;
}

header{
    background: lightgreen;
    width: 400px;
    height: 100px;
    line-height: 100px;
    margin: 10px auto;
    border-style: solid;
}

main{
    float: left;
    width: 500px;
    margin: 20px 15px;
}

aside{
    float: right;
    width: 380px;
    margin: 20px 10px;
}

img{
    width: 360px;
    border-style: solid;
}

footer{
    clear: both;
    padding-bottom: 20px;
}

input{
    display: block;
    margin: auto;
    width: 200px;
    height: 100px;
    font-size: 1.4em;
}
h1{
    font-family: "Times New Roman", serif;
    font-size: 2.2em;
    margin-left: 20px;
}

p{
    font-size: 1.2em;
    background: lightblue;
    padding: 10px;
    border-style: solid
}